@import '@/assets/style/variables.scss';

@mixin showTop($iterationCount) {
    @keyframes showTop {
        0% {
            opacity: 0;
        }

        25% {
            opacity: 0;
        }

        50% {
            opacity: 0;
        }

        75% {
            opacity: 1;
        }

        100% {
            opacity: 1;
        }
    }

    animation: showTop 10s ease $iterationCount;
}

@mixin showBottom($iterationCount) {
    @keyframes showBottom {
        0% {
            opacity: 0;
        }

        25% {
            opacity: 0;
        }

        50% {
            opacity: 0;
        }

        75% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    animation: showBottom 10s ease $iterationCount;
}

@mixin slideBackground($iterationCount) {
    @keyframes slideBackground {
        0% {
            transform: translateX(-100%);
        }

        75%{
            transform: translateX(120%);
        }

        100% {
            transform: translateX(120%);
        }
    }

    animation: slideBackground 10s ease $iterationCount;
}

@mixin lineLeftToRight($iterationCount) {
    @keyframes lineLeftToRight {
        0% {
            width: 0;
        }

        100% {
            width: 100%;
        }
    }

    animation: lineLeftToRight 10s ease $iterationCount;
}

.animation-slideltr {
    background: $mainColor;
    transition: all .6s ease .4s;
}

.animation-content {
    transition: all .6s ease .4s;
}