@mixin show($fillMode, $duration, $opacityEnd) {
    @keyframes show {
        0% {
            opacity: 0;
        }

        45% {
            opacity: 1;
        }

        90% {
            opacity: 1;
        }

        100% {
            opacity: $opacityEnd;
        }
    }

    animation: show $duration ease $fillMode;
}

@mixin slideLeftToRight($fillMode) {
    @keyframes slideLeftToRight {
        0% {
            background-position: right bottom;
        }

        45% {
            background-position: left bottom;
        }

        100% {
            background-position: none;
        }
    }

    animation: slideLeftToRight 10s ease $fillMode;
}

@mixin lineLeftToRight($fillMode) {
    @keyframes lineLeftToRight {
        0% {
            width: 0;
        }

        100% {
            width: 100%;
        }
    }

    animation: lineLeftToRight 10s ease $fillMode;
}