@import '@/assets/style/variables.scss';

@mixin showTop($iterationCount) {
    @keyframes showTop {
        0% {
            opacity: 0;
        }

        25% {
            opacity: 0;
        }

        50% {
            opacity: 0;
        }

        75% {
            opacity: 1;
        }

        100% {
            opacity: 1;
        }
    }

    animation: showTop 5s ease $iterationCount;
}

@mixin showBottom($iterationCount) {
    @keyframes showBottom {
        0% {
            opacity: 0;
        }

        25% {
            opacity: 0;
        }

        50% {
            opacity: 0;
        }

        75% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    animation: showBottom 5s ease $iterationCount;
}

@mixin slideBackground($iterationCount) {
    @keyframes slideBackground {
        0% {
            transform: translateX(-100%);
        }

        75%{
            transform: translateX(120%);
        }

        100% {
            transform: translateX(120%);
        }
    }

    animation: slideBackground 5s ease $iterationCount;
}

@mixin lineLeftToRight($iterationCount) {
    @keyframes lineLeftToRight {
        0% {
            width: 0;
        }

        100% {
            width: 100%;
        }
    }

    animation: lineLeftToRight 10s ease $iterationCount;
}

@mixin menuDeactiveDesktop() {
    @keyframes menuDeactiveDesktop {
        0% {
            transform: translate(-50%, -50%) translateY(0%);
        }

        100% {
            transform: translate(-50%, -50%) translateY(120%);
        }
    }

    animation: menuDeactiveDesktop 0.6s ease forwards;
}

@mixin menuDeactiveMobile() {
    @keyframes menuDeactiveMobile {
        0% {
            transform: translate(-50%, -50%) translateX(0%);
        }

        100% {
            transform: translate(-50%, -50%) translateX(120%);
        }
    }

    animation: menuDeactiveMobile 0.6s ease forwards;
}

.animation-slideltr {
    background: $mainColor;
    transition: all .6s ease .4s;
}

.animation-content {
    transition: all .6s ease .4s;
}