$bgLight: oklch(96.12% 0 0);
$bgDark: oklch(17.76% 0 0);
$textLight: #000;
$textDark: #fff;
$sizeBtnDarkMode: 2rem;
$moon: hsl(240, 100%, 95%);
$sun: hsl(40, 100%, 50%);
$mainColor: #75c05e;
$backdrop: blur(4px) saturate(120%);