/* color palette from <https://github.com/vuejs/theme> */
@import './font.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  transition: all .5s;
  line-height: 1.6;
  font-family: $fontStack;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}